name: spring-cloud-kubernetes-discoveryserver
namespace: default

deployment:
  # https://hub.docker.com/r/springcloud/spring-cloud-kubernetes-discoveryserver/tags
  image: springcloud/spring-cloud-kubernetes-discoveryserver:5.0.0-M4
  pullPolicy: Always
  updateStrategy: RollingUpdate
  maxSurge: 100%
  maxUnavailable: 0%
  replicas: 1
  restartPolicy: Always
  livenessProbe:
    initialDelaySeconds: 10
    timeoutSeconds: 10
  readinessProbe:
    initialDelaySeconds: 10
    timeoutSeconds: 10
