apiVersion: v1
kind: Service
metadata:
  name: traefik-dashboard-service
  namespace: spring-boot-admin

spec:
  type: LoadBalancer
  ports:
    - port: 9090
      targetPort: dashboard
  selector:
    app: traefik
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-web-service

spec:
  type: LoadBalancer
  ports:
    - targetPort: web
      port: 80
  selector:
    app: traefik
