kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: namespace-reader
rules:
- apiGroups:
    - ""
    - extensions
    - apps
  resources:
    - pods
    - endpoints
    - services
  verbs:
    - get
    - list
    - watch
