name: spring-boot-app-default
namespace: spring-boot-admin

deployment:
  image: spring-boot-app-default
  pullPolicy: Always
  updateStrategy: RollingUpdate
  maxSurge: 100%
  maxUnavailable: 0%
  replicas: 2
  restartPolicy: Always
  livenessProbe:
    initialDelaySeconds: 10
    timeoutSeconds: 10
  readinessProbe:
    initialDelaySeconds: 10
    timeoutSeconds: 10
  server:
    port: 8080
  management:
    port: 8081
  group: default
